# Ensure continuous jobs are running
* * * * * /usr/bin/jsub -once -quiet /data/project/cluebot3/apps/cluebot3/bigbrother.sh cluebot3 -e /dev/null -o /dev/null /data/project/cluebot3/apps/cluebot3/run_bot.sh
